
body { background-image: url("images/bkg.jpg");}
img {
	border: 5px solid blue;
	padding: 5%;
}

}
.photo-grid{ 
		display: block;
  		/*grid-template-columns: 1fr 1fr 1fr 1fr;*/
}
.left{
	grid-column-start: 1;
    grid-column-end: 2;
}
.left{
	grid-column-start: 3;
    grid-column-end: 4;
}
.button{
	display: block;
	padding: 0px;
}